안녕하세요.<br><br>
수강생 여러분~!

"Challenge : Chapter05 ~ 08 문제풀기"는 잘 풀어보셨나요?


너~~무 어려웠어요! 하는 분들을 위해 만들어봤습니다!

문제 도장깨기 !!!!!

차근차근 풀어나가면 파이썬 정복 가능입니다!

화이팅 !


Chapter05~08의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>

[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>
<br>

<br>

__[문제1]__


a와 b라는 변수를 각각 10과 20으로 초기화하고, 두 변수를 더한 값을 출력해보세요.


<br>

In [1]:
from types import resolve_bases
#a 와 b 라는 변수를 각각 10 과 20으로 설정
a = 10
b = 20

#두 변수를 더한 값을 출력
result = a + b

#결과
print("두 변수 합한결과:",result)

두 변수 합한결과: 30

<br>

__[문제2]__


변수 num1에 15, num2에 4를 할당하고, 두 변수를 더한 값, 뺀 값, 곱한 값, 나눈 값을 각각 출력하세요.



<br>

In [2]:
# 변수 num1 에 15 , num2 에 4 를 할당
num1 = 15
num2 = 4

#두 변수를 더한 값, 뺀 값, 곱한 값, 나눈 값을 각각 출력
print("더한 값:",num1 + num2)
print("뺀 값:",num1 - num2)
print("곱한 값:",num1 * num2)
print("나눈 값:",num1 / num2)

더한 값: 19
뺀 값: 11
곱한 값: 60
나눈 값: 3.75

<br>

__[문제3]__

변수 x에 5를 할당하고, 변수 y에 3을 할당한 후, x가 y보다 크거나 같은지 비교해서 bool타입으로 출력해주세요.

In [3]:
# 변수 x 에 5를 할당하고 , 변수 y에 3을 할당한다
x = 5
y = 3

# x 가 y 보다 크거나 같은지 비교한다
result = x >= y

#결과를 bool 타입으로 출력한다
print(bool(result))

True

<br>__[문제4]__

자료형 (int, float, str, bool) 변수를 만들어보고, print()해서 결과를 확인하세요!

In [7]:
# 2번
# 자료형 int, float str bool 변수를 만들어라
b = 3.14
c = True
d = "abc"
e = 1

#print()해서 결과를 확인
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>

__[문제5]__

str = "야호야호야호호야호야야오햐오햐오햐오"

str을 3가지 이상의 다른 문자열 슬라이싱을 이용하여 확인해보세요!

출력 예)

처음 5글자: 야호야호야

In [5]:
# str 변수를 먼저 가져온다
str = "야호야호야호호야호야야오햐오햐오햐오"

# str을 3가지 이상의 다른 문자열 슬라이싱을 이용
print(str[:4])
print(str[::-2])
print(str[-6:])

야호야호
오오오오야야호호호
햐오햐오햐오